:root {
  font-size: 16px;
}

body {
  padding: 0.6em;
}

* {
  display: border-box;
  padding-top: 0.4em;
  box-sizing: border-box;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  border: 2px solid #0000ee;
  padding: 8px;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:hover {
  background-color: #ddd;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.card {
  width: 80%;
  margin: auto;
  background-color: whiteSmoke;
  border: 2px solid black;
  display: block;
  border-radius: 16px;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.card img {
  padding-top: 0;
  width: 100%;
}
.card figcaption {
  display: block;
  text-align: center;
}
.card p {
  padding: 0.3em;
}
.card button {
  width: 100%;
  border-radius: 0;
  border: none;
  border-top: 2px solid #0000ee;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #4CAF50;
  /* Green */
  border: 2px solid #0000ee;
  border-radius: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 0;
}

textarea {
  background-color: whiteSmoke;
  border: 2px solid #0000ee;
  border-radius: 16px;
}

[disabled] {
  background-color: grey;
}

label [type="checkbox"] {
  /** STYLES HERE... **/
}

[include] {
  border: 2px solid #0000ee;
  margin: 0.6em;
  padding: 0.8em;
}
h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 { 
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
