@include url("https://gist.githubusercontent.com/junkycoder/3105e1da1706196f4b49f7c80b83426a/raw/8aebdee1bc19d147597a968fb459a8a6ae1d6aa9/reboot.css");
:root {
—-Grey: #5f5f5f;
—-Purple: #7700ff;
—-Red: #ff7700;
—-Orange: #ff7700;
—-Yellow: #ffff00;
—-Green: #00ff77;
—-Blue: #0077ff;
—-Indigo: #4B0077;
—-Violet: #9a0cff;
—-Black: #000000;
—-White: #ffffff;
—-Background-color: #efefef;
—-Text-color: var(—-black, #000000);
}
/*
var(—-Grey, #5f5f5f);
var(—-Purple, #7700ff);
var(—-Red, #ff7700);
var(—-Orange, #ff7700);
var(—-Yellow, #ffff00);
var(—-Green, #00ff77);
var(—-Blue, #0077ff);
var(—-Indigo, #4B0077);
var(—-Violet, #9a0cff);
var(—-Black, #000000);
var(—-White, #ffffff);
var(—-Background-color, #efefef);
var(—-Text-color, #000000);
*/

body {
  padding: 0.6em;
}

* {
  display: border-box;
  padding-top: 0.4em;
  box-sizing: border-box;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  border: 2px solid var(—-Blue, #0077ff);;
  padding: 8px;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:hover {
  background-color: #ddd;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.card {
  width: 80%;
  margin: auto;
  background-color: whiteSmoke;
  border: 2px solid black;
  display: block;
  border-radius: 16px;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.card img {
  padding-top: 0;
  width: 100%;
}
.card figcaption {
  display: block;
  text-align: center;
}
.card p {
  padding: 0.3em;
}
.card button {
  width: 100%;
  border-radius: 0;
  border: none;
  border-top: 2px solid var(—-Blue, #0077ff);;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(—-Green, #00ff77);;
  /* Green */
  border: 2px solid var(—-Blue, #0077ff);;
  border-radius: 16px;
  color: var(—-Text-color, #000000);;
  text-align: center;
  text-decoration: none;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 0;
}

textarea {
  background-color: whiteSmoke;
  border: 2px solid var(—-Blue, #0077ff);;
  border-radius: 16px;
}

[disabled] {
  background-color: var(—-Grey, #5f5f5f);;
}

label [type="checkbox"] {
  /** STYLES HERE... **/
}

[include] {
  border: 2px solid var(—-Blue, #0077ff);;
  margin: 0.6em;
  padding: 0.8em;
}
